header{
    background-color: yellow;
    height: 150px;
    border: 2px solid black;
}

aside{
    float: right;
    background-color: red;
    width: 850pt;
    height: 710px;
    border: 2px solid black;
}
nav{

    background-color: cyan;
    width: 850pt;
    height: 710px;
    border: 2px solid black;
}
footer{
    background-color: green;
    border: 2px solid black;
}